openapi: 3.1.0
info:
  title: DiscGolf Countries Updates API
  version: 1.0.0
  description: DiscGolfAPI is a read-only API for structured disc golf course data. It provides stable course records, location fields, country and region indexes, update metadata, confidence signals and attribution information for developer projects, maps, directories, websites and AI systems.
  termsOfService: https://discgolfapi.com/terms/
  contact:
    name: DiscGolfAPI
    url: https://discgolfapi.com/contact/
  license:
    name: Free to use with attribution
    url: https://discgolfapi.com/licence/
servers:
- url: https://io.discgolfapi.com/v1
  description: Production API
tags:
- name: Updates
  description: Recent public data updates.
paths:
  /updates/recent:
    get:
      tags:
      - Updates
      summary: List Recent Updates
      description: Returns recent course additions or changes in the public dataset.
      operationId: listRecentUpdates
      responses:
        '200':
          description: A recent updates response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentUpdatesResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    CommonEnvelope:
      type: object
      properties:
        schema_version:
          type: string
        generated_at:
          type: string
          format: date-time
        attribution:
          type: string
        attribution_required:
          type: boolean
        license:
          type: string
        license_url:
          type: string
          format: uri
        terms_url:
          type: string
          format: uri
        no_warranty:
          type: string
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
      - schema_version
      - generated_at
      - attribution
      - attribution_required
      - license
      - license_url
      - terms_url
      - no_warranty
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
      required:
      - error
      additionalProperties: true
    RecentUpdate:
      type: object
      properties:
        course_id:
          type: string
        course_slug:
          type: string
        course_name:
          type: string
        change_type:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - course_id
      - course_slug
      - course_name
      - change_type
      - updated_at
    RecentUpdatesResponse:
      allOf:
      - $ref: '#/components/schemas/CommonEnvelope'
      - type: object
        properties:
          updates:
            type: array
            items:
              $ref: '#/components/schemas/RecentUpdate'
        required:
        - updates
    ResponseMeta:
      type: object
      properties:
        publish_version:
          type: string
        release_scope:
          type: string
      additionalProperties: true
  responses:
    ServerError:
      description: Temporary server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Too many requests.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
externalDocs:
  description: DiscGolfAPI documentation
  url: https://discgolfapi.com/docs/
